body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: black;
    color: white;
    padding: 40px;
    font-size: 32px;

    box-shadow:
        4px 4px 0 red,
        8px 8px 0 yellow,
        12px 12px 0 green,
        16px 16px 0 blue,
        20px 20px 0 purple,
        24px 24px 0 orange,
        28px 28px 0 cyan;
}